.body {
    padding: 100px;
    margin: 100px;
    justify-content: center;
    height: 100vh;
}


header {
    display: flex;
    height: 30px;
    justify-content: end;
    margin: 5px;
    padding: 5px;
    font-family: arial,sans-serif;
    line-height: normal;


}

header .options a{

    text-decoration: none;
    background-color: white; 
    justify-content: end;


}

header .options a svg{

height: 24px;
width: 24px;
justify-content: end;


}

header .options a img{
    justify-content: end;
    border-radius: 50%;
height:  32px;
width: 32px;
}


main {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }


 .icono{
    width: 40px;
    height: 40px;
    justify-content: center;
    
} 


#buscador {
    display: flex;
    justify-content: center;
    border: 1px solid #dfe1e5;
    max-height: 44px;
    max-width: 584px;
    width: 538px;
    border-radius: 10px;
    background-color: white;
    
}

#buscador input {
    width: 400px;
    outline: none;
    border: none;

}

button{ 
    background-color: #f8f9fa;
    border: #dfe1e5;
    height: 36px;
    min-width: 54px;
    margin: 11px 4px;
    padding: 0 16px;
    border-radius: 4px;
    line-height: 27px;
    justify-content: center;
    
    
 }

footer{
    display: flex;
    flex-direction: column;
    height: 90px;

background-color: rgb(245, 242, 242);
text-decoration: none;


}

footer a{

    text-decoration: none;
    display: flex;
    align-items: center;


}

footer ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    text-decoration: none;


}

footer ul li div a{
   margin: 10px;
    display: inline-block;
    display: flex;
    text-decoration: none;

    
}

#opciones{
    display: flex;
 

    
}

 

